.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  margin-bottom: 30px;
}

.header-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-link {
  display: block;
  text-decoration: none;
  padding: 0 16px;
}

.section-create {
  display: block;
  background-image: url(../images/Bitmap.jpg);
  background-size: 1200px 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 86px;
}
